<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Niklas Nauber Portfolio</title>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="jquery-3.2.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Droid+Sans+Mono|Space+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Athiti|Slabo+27px" rel="stylesheet">
    <link rel="stylesheet" href="./vuePortfolio.css">
</head>
<body>

    <div id="mainElement" class="main-div">
        <div class="intro-div just-another-hand" id="introDiv">
            N i k l a s &nbspN a u b e r

        <!--

         <video class='intro-video' preload='auto' loop="loop" muted="muted" autoplay>

                <source src="./media/video/4K_magical.mp4" type="video/mp4">
            </video>-->

        </div>



                <ul class="projects-ul">

                    <div :class="focusClass">

                        <div v-if="projectInFocus!=={}" class="project-in-focus-content">

                            <div class="project-in-focus-title droid-mono">
                                {{projectInFocus.name}} <span class="lightgrey-text">.</span>
                            </div>

                            <div class="product-in-focus-img-and-description">

                                <img class="project-in-focus-img" :src="projectInFocus.imgSrc" alt="">

                                <div class="project-in-focus-description-and-techs cutive-mono">

                                    <div class="project-in-focus-description">{{projectInFocus.description}}</div>
                                    <div class="product-in-focus-techs-and-button">
                                    <div class="product-in-focus-techs">
                                        <span class="yellow-text cutive-mono">techniques. </span><br>
                                        <ul>


                                            <li v-for="tech in projectInFocus.techs">

                                                {{tech}}

                                            </li>

                                        </ul>

                                    </div>

                                    <div class="see-it-live athiti"><i class="fa fa-youtube-play" aria-hidden="true"></i><span class="yellow-text">see it live.</span></div>
                                    </div>


                                </div>

                            </div>






                            <button class="go-back-button" @click="unFocus()"><i class="fa fa-undo" aria-hidden="true"></i></button>

                        </div>

                    </div>

                    <li class='project-li cutive-mono' v-for="project in projects">

                        <img class='project-img' :src="project.imgSrc" :alt="project.imgSrc">

                        <div class="project-info">
                            {{project.name}}

                        </div>

                        <div class='go-to-button'><i class="fa fa-chevron-right" aria-hidden="true"></i><div :id="project.id" @click="(event) => {focusOnProject (event) }" class="cover-div"></div></div>


                    </li>

                </ul>

    </div>

</body>

<script>
    var main = new Vue ({
        el: '#mainElement',
        data: {
            focusClassName: 'project-not-in-focus',
            projectInFocus: {},
            projects: [
                {
                    imgSrc: 'media/Namnlös.png',
                    name: "Niklas Nauber",
                    description: "Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok. Lorem ipsum har inte bara överlevt fem århundraden, utan även övergången till elektronisk typografi utan större förändringar. Det blev allmänt känt på 1960-talet i samband med lanseringen av Letraset-ark med avsnitt av Lorem Ipsum, och senare med mjukvaror som Aldus PageMaker.",
                    techs: ["vue.js", "html", "css","vue.js", "html", "css"],
                    id: 0
                },
                {
                    imgSrc: "media/spectralogo small.png",
                    name: "some Name",
                    description: "some description",
                    techs: ["vue.js", "html", "css","vue.js", "html", "css"],
                    id: 1
                },
                {
                    imgSrc: 'media/Namnlös.png',
                    name: "Niklas Nauber",
                    description: "some description",
                    techs: ["vue.js", "html", "css","vue.js", "html", "css"],
                    id: 0
                },
                {
                    imgSrc: "media/spectralogo small.png",
                    name: "some Name",
                    description: "some description",
                    techs: ["vue.js", "html", "css"],
                    id: 1
                },
                {
                    imgSrc: 'media/namnlös.png',
                    name: "Niklas Nauber",
                    description: "some description",
                    techs: ["vue.js", "html", "css"],
                    id: 0
                },
                {
                    imgSrc: "media/spectralogo small.png",
                    name: "some Name",
                    description: "some description",
                    techs: ["vue.js", "html", "css"],
                    id: 1
                }
            ]
        },
        computed: {
            focusClass: {
                get: function () {
                    return this.focusClassName;
                },
                set: function () {

                    this.focusClassName = this.focusClassName;
                }
            }
        },
        methods: {
            introDivHeight: function (event) {

                window.onscroll = function() {
                    var height = document.getElementById('introDiv').clientHeight;
                    if (height >= 10) {
                        height = height - document.body.scrollTop;
                        console.log(height + ' = height')

                    }

                    console.log(document.body.height + ' = introDivheight')
                    return height + px;

                }

            },
            focusOnProject: function (event) {
                console.log('focusing on: ' + this.projects[event.target.id].name)
                this.projectInFocus = this.projects[event.target.id];
                this.focusClassName = 'project-in-focus';
            },
            unFocus: function () {
                this.projectInFocus = {};
                this.focusClassName = 'project-not-in-focus';
            }
        }
    })


</script>

    <script src="choreographer.js"></script>

        <script src="./node_modules/choreographer-js/dist/choreographer.min.js"></script>
        <script type="javascript">

    </script>
</html>