.projects-ul{

    list-style-type: none;
    height: 50%;
    width: 50%;


}

.project-li{
    position: relative;
    height: 10%;
    width: 100%;
    border: 1px solid black;


}

.project-img{
    max-height: 10%;
    max-width: 10%;
    border: 1px solid blue;


}